name: lint github workflows

on:
  pull_request:
    paths:
      - ".github/**/*.ya?ml"

jobs:
  lint:
    runs-on: ubuntu-latest
    name: lint github workflows
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Add problem matchers
        run: |
          # https://github.com/rhysd/actionlint/blob/3a2f2c7/docs/usage.md#problem-matchers
          curl -LO https://raw.githubusercontent.com/rhysd/actionlint/main/.github/actionlint-matcher.json
          echo "::add-matcher::actionlint-matcher.json"
      - uses: docker://rhysd/actionlint:latest