name: Check commits for compliance with conventional commit spec

on:
  - push

jobs:
  cogCheck:
    runs-on: ubuntu-latest
    name: check conventional commit compliance
    steps:
      - uses: actions/checkout@main
        with:
          fetch-depth: 0

      - name: Conventional commits check
        uses: oknozor/cocogitto-action@390bda87a19bf627e03ad075c67a11e9ddbb7547 # v4